@charset "utf-8";
/* CSS Document */
*{
	margin:0;
	padding:0;
}
a{
	text-decoration: none;
}
li{
	list-style:none;
}
img{
	border:none;
}
header{
	width:100%;
	height:37px;
	background:#fafafa;
	border-bottom:1px solid #eeeeee;
	font-size:12px;
	color:#999;	
}
header>div{
	width:1212px;
	height:37px;
	margin:0 auto;
	line-height:37px;
}
header>div img{
	margin-top:5px;
	
}
header a{
	color:#999;	
}
header>div>ul{
	float:right;
}
header>div>ul>li{
	float:left;
	padding:0 6px;
}
#fuwu>ol{
	display:none;
	padding:5px;
	border:1px solid gray;
	box-shadow:0px 0px 2px black;
	position:absolute;
	background:#fff;
}
#daohang>ol{
	display:none;
	padding:5px;
	border:1px solid gray;
	box-shadow:0px 0px 2px black;
	position:absolute;
	left:783px;
	width:150px;
	background:#fff;

}
#daohang>ol div:nth-child(1){
	float:left;
}
#daohang>ol div:nth-child(2){
	float:left;
}
#huiyuan{
	position:absolute;
	width:200px;
	border:1px solid red;
	display:none;
	left:831px;
	top:37px;
	background:#fff;
	
	
}
#huiyuan>div:nth-child(1){
	width:200px;
	height:40px;
	border-bottom:1px solid gray;
	
}
#huiyuan>div:nth-child(2){
	width:200px;
	height:105px;
	
}
#huiyuan>div:nth-child(3){
	width:200px;
	height:41px;
	background:#eeeeee;
	
}

#zuo{
	float:left;
	width:50%;
}
#you{
	float:right;
	width:50%;
}
.hy>a{
	display:block;
	width:87px;
	height:37px;
	border:1px solid #fafafa;
	position:relative;
	z-index:11;
}

/*-----------------logo------------------------*/
#logo{
	width:1212px;
	height:90px;
	margin:0 auto;
	padding-top:20px;
}
#logo>img:nth-child(1){
	float:left;
	margin-right:188px;
}
#logo>div{
	width:404px;
	float:left;
}
#logo>div>input:nth-child(1){
	width:322px;
	height:31px;
	border:2px solid red;
	float:left;
}
#logo>div>input:nth-child(2){
	width:78px;
	height:35px;
	border:2px solid red;
	background:red;
	float:left;
}
#logo>img:nth-child(3){
	float:right;
	
}
#logo>div>a{
	font-size:13px;
	color:#999;
}

/*------------nav-------------------*/
nav{
	width:1212px;
	height:41px;
	margin:0 auto;
	line-height: 41px;
	overflow: hidden;
}
nav>ul>li{
	float:left;
}
nav>ul>li>a{
	margin-left:42px;
	color:#333333;
}
nav>ul>li>a:hover{
	color:red;
}
nav>ul>li:nth-child(1)>a{
	display:block;
	width:206px;
	height:41px;
	text-align: center;
	line-height:40px;
	color:#fff;
	background:#d00328;
	margin-left:0;
	
}
nav>ul>li:nth-child(1)>ol{
	width:206px;
	height:321px;
	background:#000;
	line-height:20px;
	position: absolute;
	display: none;
}
nav>ul>.xiala:hover ol{
	display:block;
	z-index: 11;
}
nav>ul>li:nth-child(1)>ol>li{
	width:166px;
	height:77px;
	border-bottom:1px dashed #fff;
	padding:0 20px;
}
nav>ul>li:nth-child(1)>ol>li:hover{
	background:#999;
}
nav>ul>li:nth-child(1)>ol>li>h4>a{
	font-size: 14px;
	color:#fff;
}
nav>ul>li:nth-child(1)>ol>li>h4>a:hover{
	font-weight: bolder;
}
nav>ul>li:nth-child(1)>ol>li>a{
	font-size: 13px;
	color:#fff;
}

/*-----------------aside----------------------*/
aside{
	width:100%;
	overflow: hidden;
	background: #eeeeee;
	border-top:2px solid #d00328;
}
#lianjie{
	height:37px;
	width:1212px;
	background: #fff;
	margin:0 auto;
	border-bottom:1px solid #eeeeee;
}
#shaixuan{
	width:1211px;
	height:153px;
	border-bottom:1px solid #eeeeee;
	margin:0 auto;
	overflow: hidden;
	background: #fff;
}
#shaixuan>h5{
	width:1211px;
	height:38px;
	background: #f7f7f7;
	line-height: 38px;
}
#shaixuan>h5>span{
	float:right;
}
#shaixuan>ul>li{
	float:left;
	width:50px;
	height:25px;
	text-align: center;
}
#shaixuan>ul>li>a{
	color:#666;
	font-size:12px;
}
#shaixuan>ul>li:hover{
	background: #c10816;
}
#shaixuan>ul>li:hover>a{
	color:#fff;
}
#jiage{
	height:35px;
	width:1212px;
	background: #fff;
	border-bottom:1px solid #eeeeee;
	margin: 0 auto;
	padding-top:15px;
}
#jiage>ol>li{
	float:left;
	margin-right:5px;
}
#paixu{
	width:1212px;
	height:38px;
	margin:15px auto;
	background: #f7f7f7;
	border:1px solid #eeeeee;
}
#paixu>ul>li{
	width:50px;
	height:20px;
	color:#999;
	float: left;
	font-size: 13px;
	text-align: center;
	padding:5px;
}
#paixu>ul>li a{
	color:#999;
}
#paixu>ul>li:hover{
	background: #c10816;
}

#paixu>ul>li:hover>a{
	color:#fff;
}

#goodlist{
	width:1192px;
	overflow: hidden;
	margin: 0 auto;
	padding:10px;
}
#xqList{
	width:1192px;
	background: #fff;
	height:570px;
}
#xqList>li{
	border:3px solid #eeeeee;
}
#xqList>li:hover{
	border:3px solid #c10816;
}
#xqList>li:nth-child(3){
	background: url(../img/tuijian.jpg) no-repeat top right;
}
#xqList>li:nth-child(5){
	background: url(../img/tuijian.jpg) no-repeat top right;
}
#xqList>li:nth-child(7){
	background: url(../img/tuijian.jpg) no-repeat top right;
}
#xqList>li:nth-child(9){
	background: url(../img/tuijian.jpg) no-repeat top right;
}

/*----------------footer-------------------*/
footer{
	width:1212px;
	overflow: hidden;
	background: #fff;
	margin:0 auto;
}
footer>div:nth-child(1){
	width:1132px;
	height:45px;
	border-bottom:1px solid gray;
	padding:25px 40px;
	margin-bottom:40px;
}
footer>div:nth-child(1) img{
	margin:0 29px;
}
footer>div:nth-child(2){
	padding:0 50px;
}
footer>div:nth-child(2) ul{
	float:left;
	width:148px;
	height:180px;
	border-right:1px solid gray;
	padding-left:80px;
	margin-bottom:35px;
}
footer>div:nth-child(2) ul li{
	line-height: 33px;
	font-size: 13px;
	color:gray;
}
footer>div:nth-child(2) ul li a{
	line-height: 33px;
	font-size: 13px;
	color:gray;
}
footer>div:nth-child(2) ul:nth-child(1){
	width:183px;
	height:180px;
	padding-left:10px;
}
footer>div:nth-child(2) ul li:nth-child(1){
	font-size:15px;
	color:black;
}

footer>div:nth-child(3){
	text-align: center;
	font-size: 12px;
	margin-bottom:20px;
}
footer>div:nth-child(4){
	text-align: center;
}
footer>div:nth-child(4) img{
	margin-left:25px;
}
